extends layout

block hero-unit
  .jumbotron
    .container

block content
  .container
    .col-xs-6.col-md-4
    .col-xs-6.col-md-
      form#form-task.form-inline(action='/todos', method='POST', class='todos') 가고 싶은곳은:
        input(type='text', placeholder='지역을 입력하세요')
        br
        몇 명이:
        input(type='text', placeholder='1명')
        .actions
            button#post-task.btn.btn-primary.btn-lg.btn-block(type='submit') 검색
    .col-xs-6.col-md-4
