extends ../layout

block content
  .container
    h1.page-header 예약 요청
    form(action='/hosts/reserv', method='POST')
      .form-group
        label(for='check-in') Check-In
        input.form-control(id='check-in', name='check-in', placeholder='Check-In')
      .form-group
        label(for='check-out') Check-Out
        input.form-control(id='check-out', name='check-out', placeholder='Check-In')
      .form-group
        label(for='people') 숙박 인원
        input.form-control(id='people', name='people', placeholder='1명')
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 예약하기 
